.git/
.github/
.vs/
.vscode/
.idea/

**/bin/
**/obj/
**/publish/
**/build-output/

**/*.user
**/*.suo
**/*.log
**/logs/

admin-frontend/node_modules/
admin-frontend/dist/

**/.env
**/.env.*
**/*.local
**/appsettings.Development*.json
Properties/launchSettings.json

.DS_Store
Thumbs.db
